<h1>FILM</h1>

<ul>
  <li>title : {{title}}</li>
  <li>episode id : {{episode_id}}</li>
  <li>opening crawl : {{opening_crawl}}</li>
  <li>director : {{director}}</li>
  <li>producer : {{producer}}</li>
  <li>release date : {{release_date}}</li>
  <li>characters :
    <ul>
      <li *ngFor="let char of characters_output;">
        <a [routerLink]="['people',char['id']]">{{ char['name'] }}</a>
      </li>
    </ul>
  </li>
  <li>planets :
    <ul>
      <li *ngFor="let planet of planets_output;">
        <a [routerLink]="['planets',planet['id']]">{{ planet['name'] }}</a>
      </li>
    </ul>
  </li>
  <li>species :
    <ul>
      <li *ngFor="let specie of species_output;">
        <a [routerLink]="['species',specie['id']]">{{ specie['name'] }}</a>
      </li>
    </ul>
  </li>
  <li>starships :
    <ul>
      <li *ngFor="let starship of starships_output;">
        <a [routerLink]="['starships',starship['id']]">{{ starship['name'] }}</a>
      </li>
    </ul>
  </li>
  <li>vehicles :
    <ul>
      <li *ngFor="let name of vehicles_names">{{ name }}</li>
    </ul>
  </li>
  <li>url : {{url}}</li>
  <li>created : {{created| date:'short'}}</li>
  <li>edited : {{edited | date:'short'}}</li>
</ul>

