<h1>SPECIE</h1>

<ul>
  <li>name : {{ name }}</li>
  <li>classification  : {{ classification   }}</li>
  <li>designation  : {{ designation   }}</li>
  <li>average_height  : {{ average_height   }}</li>
  <li>average_lifespan  : {{ average_lifespan   }}</li>
  <li>eye_colors  : {{ eye_colors   }}</li>
  <li>hair_colors  : {{ hair_colors   }}</li>
  <li>skin_colors : {{ skin_colors  }}</li>
  <li>language  : {{ language   }}</li>
  <li><a [routerLink]="['/planets',homeworld_output['id']]">{{ homeworld_output['name'] }}</a></li>
  <li>films :
    <ul>
      <li *ngFor="let film of films_output;">
        <a [routerLink]="['/films',film['id']]">{{ film['name'] }}</a>
      </li>
    </ul>
  </li>
  <li><a [routerLink]="['/planets',homeworld_output['id']]">{{ homeworld_output['name'] }}</a></li>
  <li>people :
    <ul>
      <li *ngFor="let pers of people_output;">
        <a [routerLink]="['people',pers['id']]">{{ pers['name'] }}</a>
      </li>
    </ul>
  </li>
  <li>url : {{ url  }}</li>
  <li>created : {{ created |  date : 'short' }}</li>
  <li>edited : {{ edited | date : 'short' }}</li>
</ul>

