<h1>PEOPLE</h1>

<ul>
  <li>id : {{ id  }}</li>
  <li>name : {{ name }}</li>
  <li>birth_year : {{ birth_year  }}</li>
  <li>eye_color : {{ eye_color  }}</li>
  <li>gender : {{ gender  }}</li>
  <li>hair_color : {{ hair_color  }}</li>
  <li>height : {{ height  }}</li>
  <li>mass : {{ mass  }}</li>
  <li>skin_color : {{ skin_color  }}</li>
  <li><a [routerLink]="['/planets',homeworld_output['id']]">{{ homeworld_output['name'] }}</a></li>
  <li>films :
    <ul>
      <li *ngFor="let film of films_output;">
        <a [routerLink]="['/films',film['id']]">{{ film['name'] }}</a>
      </li>
    </ul>
  </li>
  <li>species :
    <ul>
      <li *ngFor="let specie of species_output;">
        <a [routerLink]="['/species',specie['id']]">{{ specie['name'] }}</a>
      </li>
    </ul>
  </li>
  <li>starships :
    <ul>
      <li *ngFor="let starship of starships_output;">
        <a [routerLink]="['/starships',starship['id']]">{{ starship['name'] }}</a>
      </li>
    </ul>
  </li>
  <li>vehicles :
    <ul>
      <li *ngFor="let name of vehicles_names">{{ name }}</li>
    </ul>
  </li>
  <li>url : {{ url  }}</li>
  <li>created : {{ created |  date : 'short' }}</li>
  <li>edited : {{ edited | date : 'short' }}</li>
</ul>

