<h1>PLANET</h1>

<ul>
  <li>name : {{ name }}</li>
  <li>diameter  : {{ diameter   }}</li>
  <li>rotation_period  : {{ rotation_period   }}</li>
  <li>orbital_period  : {{ orbital_period   }}</li>
  <li>gravity  : {{ gravity   }}</li>
  <li>population  : {{ population   }}</li>
  <li>climate  : {{ climate   }}</li>
  <li>terrain  : {{ terrain   }}</li>
  <li>surface_water   : {{ surface_water    }}</li>
  <li>terrain  : {{ terrain   }}</li>
  <li>climate  : {{ climate   }}</li>
  <li>terrain  : {{ terrain   }}</li>
  <li>films :
    <ul>
      <li *ngFor="let film of films_output;">
        <a [routerLink]="['/films',film['id']]">{{ film['name'] }}</a>
      </li>
    </ul>
  </li>
  <li>residents  :
    <ul>
      <li *ngFor="let resident  of residents_output;">
        <a [routerLink]="['/residents',residents['id']]">{{ residents['name'] }}</a>
      </li>
    </ul>
  </li>
  <li>url : {{ url  }}</li>
  <li>created : {{ created |  date : 'short' }}</li>
  <li>edited : {{ edited | date : 'short' }}</li>
</ul>

